<table class="table table-hover">
    <!--
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    --> 
        <tbody>
            <tr *ngFor="let court of data">
                <!--<td>{{court.cargo}}</td>-->
                <td>{{court.dependencia}}</td>
                <!--
                <td>{{court.domicilio}}</td>
                <td>{{court.email}}</td>
                <td>{{court.email_dependencia}}</td>
                <td>{{court.funcion}}</td>
                <td>{{court.nombre}}</td>
                <td>{{court.piso}}</td>
                <td>{{court.situacion}}</td>
                <td>{{court.situacion_funcion}}</td>
                <td>{{court.telefono}}</td>
                <td>{{court.telefono_dependencia}}</td>
                -->
            </tr>
        </tbody>
    </table>