<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Juridico</span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="guide">Guia</a>
  <a mat-button routerLink="calendar">Calendario</a>
  <a mat-button routerLink="contact">Contacto</a>
  <!---->
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  
</mat-toolbar>
 
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>